@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Amatic SC";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    padding: 1rem;
    color: var(--text-dark)
}

.sr-only{
    position: absolute;
    left: -10000px;
}

img{
    max-width: 100%;
    display: block;
}

.site-header{
    text-align: center;
    margin-bottom: 1rem;
}

.logo{
    width: 70px;
    margin: 0 auto;
}

.site-title{
    font-family: var(--secondary-font);
    font-size: 3rem;
}

/* new section */

.recipe {
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.2rem;
}

.recipe-info {
    margin-top: 0.6rem;
}

.tag {
    background: var(--secondary-color);
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.recipe-title {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.rating {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.icon-star {
    color: gold;
}

.icon-star-empty{
    color: #ccc;
}

.recipe-description {
    font-size: 0.95rem;
}

@media (max-width: 600px) {
    .recipe-description {
        display: none;
    }
}

footer {
    text-align: center;
    margin-top: 2rem;
}

.attribution {
    font-size: 0.6em;
    margin-bottom: 1rem;
}

.social img {
    width: 40px;
    margin: 0 0.5rem;
}

@media (min-width: 600px) {
    .recipe {
        display: flex;
        gap: 1rem;
    }

    .recipe img {
        width: 50%;
    }

    .recipe-description {
        display: block;
    }
}

@media (min-width: 960px) {
    body {
        max-width: 960px;
        margin: 0 auto;
    }
}

.social img,
button img,
.logo,
img[src$=".svg"] {
    width: 24px;
    height: 24px;
    object-fit: contain;
}