@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: Mooli, san-serif;
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main, footer {
    max-width: 940px;
    margin: 0 auto;
    padding: 1rem;
}

header {
    padding: 1rem 1.25rem;
    background-color: var(--primary-color);
    color: var(--text-light)
}

h1 {
    margin: 0.25rem 0 0.5rem;
    text-align: center;
    font-size: 2.7rem;
}

header button {
    font-size: 2rem;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0; 
}

h1, h2, h3 {
  font-family: 'Mooli', sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-light);
    background-color: var(--primary-color)
}

img {
	max-width: 100%;
}

.gallery figure {
    border: 6px solid white;
    box-shadow: 2.5px 2.5px 6px rgba(0,0,0,1);
    margin: 10px;
    display: inline-block;
}

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    justify-items: center;
    padding-bottom: 2rem;
}

header a {
    color: var(--text-light);
    text-decoration: underline;
    line-height: 1.2;
    font-size: 1rem;
}

header nav {
  display: flex;
  flex-direction: column;
  gap: .35rem;
  margin-top: .5rem;  
}

h2 {
    text-align: center;
    margin: 1rem 0 1.25rem;
    font-size: 1.5rem;
}

/* possibly delete this */

@media (min-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 0.5rem;
  }

  header h1 {
    margin: 0.25rem 0 0.5rem;
  }

  header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin: 0 0 0.5rem;
    flex-wrap: nowrap;
  }

  header button {
    display: none;
  }

  .gallery {
    grid-template-columns: repeat(3, auto); 
    justify-content: center;
  }

  .gallery img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
  }
}