body {
    font-family: 'Times New Roman', serif;
    margin: 40px;
    line-height: 1.6;
}

.title h1 {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2.2px;
    margin-bottom: -10px;
}

.title h2 {
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    color: #006EB6;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.title {
    text-align: center;
}

.content p {
    max-width: 660px;
    margin: 0 auto 15px;
}

.content em {
    font-style: italic;
}

.does-list {
    max-width: 660px;
    margin: 0 auto;
}

.does-list li {
    margin-bottom: 15px;
}

.dark {
  background-color: #333;
  color: white;
}

.dark .title h1 {
  color: white;
}

.dark .does-list li,
.dark p {
  color: white;
}

.logo {
    max-width: 120px;
    display: block;
    margin: 0 auto;
}

.content {
    max-width: 750px;
    margin: 0 auto;
    padding: 40px 50px;
    background-color: transparent;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
}