body {
    font-family: 'Times New Roman', serif;
    margin: 40px;
    line-height: 1.6;
}


header > h1 {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2.2px;
}

header > h2 {
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    color: #3B6EAB;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

header {
    text-align: center;
}

.intro {
    max-width: 660px;
    margin: 0 auto 15px;
}

.italisize {
    max-width: 660px;
    font-style: italic;
    margin: 0 auto 15px;
}

ol {
    max-width: 660px;
    margin: 0 auto;
}

li {
    margin-bottom: 15px;
}

.dark {
  background-color: #333;
  color: white;
}

.dark header h1 {
  color: white;
}

.dark ol li,
.dark p {
  color: white;
}
