
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.main-nav {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

hr{
margin-top: 50px;
}

.media-card{
    display: flex;
    gap: 20px;
    margin-bottom: 2rem;
    align-items: center;
    flex-direction: column;
}

.media-card-image img{
    width: 200px;
    height: auto;
    display: block;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery .media-card{
    flex: 1 1 calc(50% - 30px);
}

@media (min-width: 700px) {
    .media-card{
        flex-direction: row;
    }

    .gallery .media-card{
        flex-direction: row;
    }
  
}